.footer {
	width: 100%;
	height: 197px;
	bottom: 0;
	position: relative;
	background-color: #989898;
	text-align: center;
}
.footer a {
	color: #FFFFFF;
	text-decoration: none;
}
.footer a:hover {
	color: #45B7A5;
	text-decoration: none;
}
.hi-footer a {
	color: #FFFFFF;
	text-decoration: none
}
.hi-footer p {
	line-height: 18px;
	position: relative;
	margin-top: 10px;
}
.container {
	height: auto;
	padding-right: 15px;
	padding-left: 15px;
}
.row {
	margin-right: -15px;
	margin-left: -15px;
}
.mlra {
	margin-left: auto;
	margin-right: auto;
}
.pt30 {
	padding-top: 30px;
}
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.fa-leaf:before {
	content: "\f06c";
}
.leaf-foot-content {
	width: 100%;
	height: 100%;
	text-align: center;
}
.leaf-foot-content a {
	font-family: "microsoft yahei", "times new roman", Arial, sans-serif;
	text-decoration: none;
}

.footer-text1 {
	font-size: 16px;
}
.footer-text2 {
	font-size: 12px;
	margin-left: 110px;
	margin-right: 110px;
}
.text-size-12 {
	font-size: 12px;
}