.top{
	width: 1190px;
	margin: 0 auto;
	height: 88px;
}
.logo {
	float: left;
	width: 180px;
	height: 59px;
	margin-top: 15px;
}
.top_search {
	width: 590px;
	margin: 25px 0 0 75px;
}
.left {
	float: left;
}
.right {
	float: right;
}
@media screen and (max-width: 1190px) .top_search {
	width: 450px;
}
@media screen and (max-width: 1190px) .top_auto,
.nav_auto,
.toolbar_auto {
	width: 990px;
}
.top_ad {
	width: 300px;
	height: auto;
	margin-top: 32px;
	margin-left: 35px;
}
.search_btn {
	background: #45B7A5;
	height: 38px;
	width: 92px;
	cursor: pointer;
	float: left;
	font: 18px/34px "Microsoft YaHei";
	color: #fff;
	border: none;
}
.search_edit {
	float: left;
	width: 496px;
	height: 34px;
	border: 2px solid #45B7A5;
	border-right: none;
	background: url("/Images/sitenew/input_bj.jpg") repeat-x;
}
.search {
	float: left;
	border: 0;
	width: 496px;
	height: 20px;
	padding: 7px 10px;
	outline: none;
	font: 14px/20px "Microsoft YaHei";
	color: #666;
	background: none;
	box-sizing: content-box;
}
.top_ad a {
	color: #AAAAAA;
	margin-right: 10px;
	font-size: 14px;
}
.top_ad a:hover {
	color: #45B7A5;
}