html {
	height: auto;
}

body, div {
	margin: 0;
	padding: 0;
}

.main {
	width: 100%;
	margin: 0 auto;
	background: #DDDDDD;
	height: 100%;
}

.login-wrap {
	width: 100%;
	height: 662px;
	background: url(../image/login/login-bg.png) no-repeat;
	background-size: auto;
}

.mid-out {
	position: relative;
	zoom: 1;
	height: 424px;
	display: table-cell;
	vertical-align: middle;
	float: right;
	margin-top: 110px;
	margin-right: 115px;
}

.login-form {
	width: 400px;
	height: 431px;
	display: block;
	float: left;
}

.tabs {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	overflow: hidden;
	height: 70px;
}

.tabs a {
	font-family: "microsoft yahei", arial, helvetica, "times new roman",
		sans-serif;
	display: block;
	float: left;
	text-decoration: none;
	background: rgba(240, 240, 240, 0.8);
	color: #AAAAAA;
	text-align: center;
	width: 50%;
	height: 70px;
	line-height: 70px;
	font-size: 16px;
}

.tabs a.on {
	background: rgba(255, 255, 255, 0.8);
	color: #FF9523;
	text-decoration: none;
}

.hide {
	display: none;
}

.tab-page {
	padding-top: 60px;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.8);
	height: 361px;
}

.input-wrapper {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	white-space: nowrap;
	vertical-align: top;
	font-size: 14px;
}

.button-wrapper {
	width: 100%;
	text-align: center;
	height: auto;
	margin-top: 60px;
}

.textbox-wide {
	width: 260px;
}

.textbox-border {
	border: 0;
	padding: 0 0px;
	display: inline-block;
	position: relative;
	text-align: center;
	margin: 0 auto;
	border-bottom: 2px solid rgb(170, 170, 170);
}

.textbox {
	border: none;
	background: rgba(255, 255, 255, 0);
	width: 100%;
	margin: 0;
	font-size: 14px;
	padding: 7px 0 9px;
	height: 14px;
	outline: 0;
	font-weight: 200;
	font-family: "microsoft yahei", simsun, simhei, helvetica, arial, tahoma,
		sans-serif;
}

.textbox:FOCUS {
	outline: none;
}

.login-button {
	font-size: 16px;
	position:relative;
	width: 65%;
	background: #46b9a5;
	margin: 0 auto;
	padding-top: 7px;
	padding-bottom: 7px;
	text-align: center;
	color: rgba(255, 255, 255, 0.8);
	border: none;
	height: 40px;
	outline: 0;
	cursor: pointer;
	-moz-border-radius: 5px;
	/* Gecko browsers */
	font-weight: bold;
	-webkit-border-radius: 5px;
	/* Webkit browsers */
	border-radius: 5px;
	/* W3C syntax */
}

.tabs_content {
	border: none;
	padding: 10px;
	margin-top: -1px;
}

.content {
	overflow: hidden;
	position: relative;
}

.input-wrapper a {
	color: rgb(170, 170, 170);
	text-decoration: underline;
	font-size: 13px;
}

.logo {
	margin-left: 115px;
	display: inline-block;
	padding-top: 25px;
}

.bottom {
	bottom: -15px;
	position: absolute;
	left: 561px;
}

.user {
	background-image: url(../image/login/User.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 8px;
}

.password {
	background-image: url(../image/login/Lock.png);
	background-repeat: no-repeat;
	padding-left: 20px;
	padding-bottom: 8px;
}