/*=============主要内容部分 ===================*/

.sap_tabs {
	clear: both;
	padding-bottom: 1em;
	padding-top: 1em;
	height: auto;
	overflow: hidden;
}
.resp-tabs-list {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}
.resp-tab-item:first-child {
	border-left: none;
}
.resp-tab-item {
	color: #AAAAAA;
	font-size: 16px;
	cursor: pointer;
	padding: 10px 25px 10px 0;
	display: inline-block;
	margin: 0;
	text-align: center;
	list-style: none;
	outline: none;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	-ms-transition: all 0.3s ease-out;
	-o-transition: all 0.3s ease-out;
	transition: all 0.3s ease-out;
	text-transform: uppercase;
}
.resp-tab-item:hover {
	text-shadow: none;
	color: #33CCCC;
}
.resp-tab-active {
	
	text-shadow: none;
	color: #33CCCC;
}
.resp-tabs-container {
	padding: 0px;
	background-color: #fff;
	clear: left;
}
h2.resp-accordion {
	display: none;
}
.resp-tab-content {
	display: none;
}

.more {
	float: right;
}
.more a {
	color: #AAAAAA;
}
.more a:hover{
	
	color: #45B9A6;
}
.cattery {
	color: #C1C1C1;
	display: block;
	font-size: 13px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: center;
	max-width: 120px;
	float: left;
}
.cat-name {
	font-size: 14px;
	color: #000;
	float: left;
}
.cat-price {
	color: #FF9224;
	font-size: 16px;
}

/*============================================================================*/



.middle_2{margin-top:20px;}
.middle_2 .title{width:1120px;height:40px;line-height:30px;font-size:16px;}
.middle_2 .title a:hover{color: #45B9A6;}
.middle_2 .title ul li{float:left;margin-right:30px;}
.middle_2 .title ul li a:hover{color:#45b9a6;}
.middle_2 .smallpic{width:1120px;}
.middle_2 .smallpic ul{width:1150px;margin-top:10px;}
.middle_2 .smallpic ul li{float:left;width:200px; margin:0 30px 30px 0;border-bottom:solid rgba(69, 183, 165, 0.4) 1px;padding-bottom:5px;}
.middle_2 .smallpic .title{width:200px;height:40px;line-height:40px;background-color:#f0f0f0;text-align:center;}


/*=======================================================================*/

 .smallpic{width:1120px;}
 .smallpic ul{width:1150px;margin-top:10px;}
 .smallpic ul li{float:left;width:200px; margin:0 30px 30px 0;border-bottom:solid rgba(69, 183, 165, 0.4) 1px;padding-bottom:5px;}
 .smallpic .title{width:200px;height:40px;line-height:40px;background-color:#f0f0f0;text-align:center;}
