<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory name="foo">
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.password">zsy</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306?useUnicode=true&amp;characterEncoding=utf8</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.default_catalog">petBuy</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <mapping resource="com/keemo/petstore/bean/Follow.hbm.xml" />
        <mapping resource="com/keemo/petstore/bean/Planvideo.hbm.xml" />
        <mapping resource="com/keemo/petstore/bean/Parentcat.hbm.xml" />
        <mapping resource="com/keemo/petstore/bean/PedigreeCertificate.hbm.xml" />
        <mapping resource="com/keemo/petstore/bean/Rank.hbm.xml" />
        <mapping resource="com/keemo/petstore/bean/Activericode.hbm.xml" />
        <mapping resource="com/keemo/petstore/bean/Order.hbm.xml" />
        <mapping resource="com/keemo/petstore/bean/Cattpetrank.hbm.xml" />
        <mapping resource="com/keemo/petstore/bean/Cart.hbm.xml" />
        <mapping resource="com/keemo/petstore/bean/Breedingorder.hbm.xml" />
        <mapping resource="com/keemo/petstore/bean/Admin.hbm.xml" />
        <mapping resource="com/keemo/petstore/bean/Cattery.hbm.xml" />
        <mapping resource="com/keemo/petstore/bean/Breedingplan.hbm.xml" />
        <mapping resource="com/keemo/petstore/bean/Imagmsg.hbm.xml" />
        <mapping resource="com/keemo/petstore/bean/Cat.hbm.xml" />
        <mapping resource="com/keemo/petstore/bean/Catype.hbm.xml" />
        <mapping resource="com/keemo/petstore/bean/Region.hbm.xml" />
    </session-factory>
</hibernate-configuration>
